* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a799b7;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9888a5;
  color: white;
  font-size: 1rem;
  width: fit-content;
}

.weather-detail {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar {
  height: 100px;
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-cities-tab-button {
  background-color: greenyellow;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
}

.current-location-arrow {
  font-size: 3rem;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateZ(315deg);
}

.city-navigation-bar {
  display: flex;
  align-items: center;
}
